# Every terraform init creates this, storing tons of unnecessary megabytes in the repo commits and structure
.terraform/ 

# Init creates this too, unnecessary noise
.terraform.lock.hcl

# Want to avoid accidentally committing a state file if someone runs apply in the example, especially considering state files may contain secrets. 
*.tfstate
*.tfstate.*

# To avoid committing the file if someone runs terraform plan -out, potentially containing sensitive values in plain text
*.tfplan
